<template>
  <div class="form flex-container">

    <form class="form-container flex-container">
      <my-input
        v-for="(input, index) in inputs"
        :key="index"
        :id="input.name"
        :label="input.label" />
    </form>

    <router-link
      to="/success"
      tag="button"
      class="form__button button"
      :disabled="disableButton"
      @click.native="sendOrder">ORDER
    </router-link>

  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';

import myInput from '../components/myInput.component.vue';

export default {
  components: {
    myInput,
  },
  data() {
    return {
      inputs: this.$store.state.formData,
    };
  },
  computed: {
    ...mapGetters([
      'disableButton',
    ]),
  },
  methods: {
    ...mapMutations([
      'outputOrder',
      'resetFormData',
    ]),
    sendOrder() {
      this.outputOrder();
      this.resetFormData();
    },
  },
};
</script>

<style lang="scss" scoped>
.form {
  margin: 20rem 0 33rem;

  &-container {
    margin-bottom: 20rem;
  }
}
</style>
