<template>
  <div class="home flex-container">

    <div class="home__image"></div>

    <h1 class="home__title font-main">
      Get Your new <br>
      <span class="font-main--blue">iPhone 11 Pro</span> <br>
      now.
    </h1>

    <router-link
      to="/form"
      tag="button"
      class="home__button button">
      BUY NOW
    </router-link>

  </div>
</template>

<style lang="scss" scoped>
.home {
  height: 100vh;

  &__image {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 70vh;
    max-height: 400px;
    background-image: url("../assets/images/iphone11pro.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  &__title {
    z-index: 1000;
    margin-bottom: 50px;
    user-select: none;
  }

  &__button {
    position: relative;
    z-index: 1000;
  }
}
</style>
