<template>
  <div class="success background flex-container">
    <h1 class="success__info font-main">Your iPhone has been ordered successfully!</h1>
    <router-link
      to="/"
      tag="button"
      class="success__button button">
      NICE
    </router-link>
  </div>
</template>

<style lang="scss" scoped>
.success {
  height: 100vh;

  &__info {
    text-align: center;
    margin-bottom: 20rem;
  }
}
</style>
