<template>
  <div class="my-input flex-container">

    <label
      for="id"
      class="my-input__label font-secondary--label">{{ label }}</label>

    <input
      type="text"
      class="my-input__input font-secondary--input"
      id="id"
      @focus="isFocused = true"
      @blur="isFocused = false"
      v-model="inputValue">

    <div class="my-input__warning">
      <transition name="fade">
        <span v-if="warning !== ''" class="font-secondary--warning">{{ warning }}</span>
      </transition>
    </div>

  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';

export default {
  props: {
    label: String,
    id: String,
  },
  data() {
    return {
      isFocused: true,
    };
  },
  computed: {
    ...mapGetters([
      'getFormValue',
    ]),
    inputValue: {
      get() {
        return this.getFormValue(this.id);
      },
      set(input) {
        const validation = this.validate(input, this.id) && input !== '';
        const formInput = {
          name: this.id,
          value: input,
          valid: validation,
        };
        this.setFormData(formInput);
      },
    },
    warning() {
      if (!this.isFocused && this.inputValue === '') {
        return 'You missed something here';
      }
      if (!this.isFocused && !this.validate(this.inputValue, this.id)) {
        return `${this.label} is invalid`;
      }
      return '';
    },
  },
  methods: {
    ...mapMutations([
      'setFormData',
    ]),
    validate(value, id) {
      let reg;
      switch (id) {
        case 'phone':
          reg = new RegExp(/^[1-9]([- ]*[0-9]){8}/);
          return reg.test(value) && value.length <= 9;
        case 'email':
          reg = new RegExp(/\b[\w.-]+@[\w.-]+\.\w{2,4}\b/);
          return reg.test(value);
        default:
          return true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/styles/main";

.my-input {
  align-items: flex-start;

  &__label {
    margin: 5rem 0;
  }

  &__input {
    height: 18rem;
    width: 160rem;
    border: none;
    margin-bottom: 2rem;
    background-color: $grey100;
    opacity: 0.6;
    padding-left: 10px;
    color: $white;
    transition: background .2s ease-out, color .1s ease-out;

    &:focus {
      background-color: $white;
      opacity: 0.9;
      color: $grey200;
    }
  }

  &__warning {
    height: 8rem;
    width: 100%;
    margin-bottom: 4rem;
  }
}
</style>
