<template>
  <div class="background flex-container">
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<style lang="scss">
@import './assets/styles/main';
</style>
