@import './colors';
@import './mediaQueries';

.button {
  width: 160px;
  height: 50px;
  background-color: $transparent;
  border: $blue100 2px solid;
  border-radius: 5px;
  color: $blue100;
  font-size: 18px;
  cursor: pointer;
  padding: 14px;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: $blue100;
  color: $grey200;
}

.button:disabled {
  border: $grey100 2px solid;
  color: $grey100;
}

.button:disabled:hover {
  border: $grey100 2px solid;
  background-color: $transparent;
  color: $grey100;
  cursor: default;
}
