@import './colors.scss';

.font-main {
  font-family: 'Playfair Display', serif;
  font-size: 28rem;
  letter-spacing: 1px;
  color: $white;

  &--blue {
    color: $blue100;
  }
}

.font-secondary {
  font-family: 'Roboto', sans-serif;

  &--label {
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    letter-spacing: 1px;
    color: $white;
    user-select: none;
  }

  &--input {
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    letter-spacing: 1px;
    color: $grey200;
  }

  &--warning {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 8rem;
    letter-spacing: 1px;
    color: $red;
    user-select: none;
  }
}
