html, body {
  font-size: 0.4vw;
}

@media screen and (min-width: 425px) {
  html, body {
    font-size: 0.3vw;
  }
}

@media screen and (min-width: 768px) {
  html, body {
    font-size: 1.5px;
  }

  .home__image {
    left: -80rem;
  }

  .form {
    width: 100vw;
    height: 100vh;
  }

  .form-container {
    flex-wrap: wrap;
    width: 530px;
    height: 320px;
  }

  .my-input__label {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .my-input__input {
    font-size: 7rem;
  }

  .my-input__warning {
    font-size: 10px;
  }
}
